/*Overall*/
body {
    background-color: #c9a18a;
}

/*Nav*/

.navbar-default {
    background-color: #EFD7C7;
    border:none;
    padding: 20px;
    margin: 0;
}
.navbar-brand {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 40px;
}