/*Overall*/
body {
    background-color: #c9a18a;
}
ol {
    background-color: #f2e6d6;
    margin: 10px;
    padding: 30px;
    border-radius: 50px;
}
/*Nav*/

.navbar-default {
    background-color: #EFD7C7;
    border:none;
    padding: 20px;
    margin: 0;
}
.navbar-brand {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 40px;
}
.nav.navbar-nav{
    float: right;
}
/*MAIN*/
h1 {
    margin:50px;
}