/*Overall*/
.clear {
    clear: both;
}
.light-font {
    font-weight: 300;
}
body {
    font-family: 'helvetica', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: grey;
}
/*Nav*/

.navbar-default {
    background-color: white;
    border:none;
    padding: 20px;
    border-radius: 70px;
}
.navbar-brand {
    font-size: 40px;
}
.nav.navbar-nav{
    float: right;
}
/*MAIN*/
h1{
    margin:30px;
    text-align: center;
}
.about-me {
    text-align: center;
}
.five {
    margin: 0 auto;
}
.fav {
    margin-left: 0;
    margin: 10px;
    padding: 30px;
    border-radius: 30px;
}
img{
    height: auto;
    max-width: 100%;
    text-align: center;
    border-radius: 5px;
}
ul.facts {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}
#five {
    background-color: #59596a;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
}