/*OVERALL*/

.light {
    font-weight: 300;
}

/*Main*/
body {
    font-family: 'helvetica', sans-serif;
 /*   background:url(../images/contact.jpg) no-repeat fixed center;
    background-size: cover;*/
}
div {
    text-align: center;
}
h1 {
    color: white;
    font-size: 40px;
}
.handles img {
    width: 100px;
    margin: 20px;
    margin-top:0;
}