.navbar-default {
    background-color: white;
    border:none;
    padding: 20px;
}
.navbar-brand {
    font-size: 40px;
}
.nav.navbar-nav{
    float: right;
}
div .card {
    display: inline-block;
    width: 30%;
    text-align: center;
}