.navbar-default {
    background-color: white;
    border:none;
    padding: 20px;
}
.navbar-brand {
    font-size: 40px;
}
.nav.navbar-nav{
    float: right;
}
div .card {
    width: 100%;
    text-align: center;
}
.card-group {
    text-align: center;
}

/*Desktop*/

@media only screen and (min-width: 768px) {
    
div .card {
    display: inline-block;
    width: 30%;
    text-align: center;
}
}