/*Overall*/
.clear {
    clear: both;
}
.light-font {
    font-weight: 300;
}
.big {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(89,89,106,0.6);
    margin: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

body {
    display: flex;
    font-family: 'helvetica', sans-serif;
}
header {
    width: 100%;
}
#mother {
    width: 100%;
}
.parent-container {
    justify-content: center;
    display: flex;
    /*default: flex-direction: row;*/
        /*other options: row-reverse, column, column-reverse
        flex froggy for visual on how those work*/
    flex-wrap: wrap;
        /*also nowrap, wrap-reverse*/
}
.work-container {
    margin: 20px;
    flex: 0 0 400px;
    height: 400px;
}
.work-container {
    display: none;
}
 /*PROJECTS*/
img {
    flex: 0 0 400px;
    height: 400px;
    width: 400px;
    background-size: cover;
}

/*Desktop*/

@media only screen and (min-width: 768px) {

}