/*Overall*/
.clear {
    clear: both;
}
.light-font {
    font-weight: 300;
}
.big {
    font-size: 30px;
    font-weight: 600;
}
.space {
    width: 100%;
    height: 200px;
}
body {
    display: flex;
    font-family: 'helvetica', sans-serif;
}
header {
    width: 100%;
}
#mother {
    width: 100%;
}
.parent-container {
    justify-content: center;
    display: flex;
    /*default: flex-direction: row;*/
        /*other options: row-reverse, column, column-reverse
        flex froggy for visual on how those work*/
    flex-wrap: wrap;
        /*also nowrap, wrap-reverse*/
}

.noshrink {
    min-width: 80%;
}

.child-container {
    flex: 1 100px;
    height: 100px;
}
.work-container {
    background-color: pink;
    margin: 20px;
    flex: 0 0 400px;
    height: 400px;
}
.work-container {
    display: none;
}
 /*PROJECTS*/
img {
    flex: 0 0 400px;
    height: 400px;
    width: 400px;
    background-size: cover;
}

/*Desktop*/

@media only screen and (min-width: 768px) {

}