.center {
    margin: 0 auto;
}
.light {
    font-weight: 300;
}
.fade-in {
    animation: fadeIn 8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity:1;
    }
}
div {
    text-align: center;
}
h1 a {
    color: #777;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    text-decoration: none;
    color:rgba(89,89,106,0.6);
}
#content {
    text-align: center;
}
div img{
    width: 50%;
    text-align: center;
}
section {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
h2 {
    font-size: 20px;
    color:rgba(89,89,106,0.6);
}

@media only screen and (min-width: 768px){

h2 {
    font-size: 36px;
 }
}
